{% extends 'main.html' %}


{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">
    <!-- <h1>Home Template</h1> -->

    <!-- Topics column -->
    <div>
        <!-- inherit from component_topics.html -->
        {% include 'base/component_topics.html' %}
    </div>
    <!-- ------------- -->


    <!-- Rooms Column -->
    <div>
        <h4><i>{{room_count}}  rooms available</i></h4>
        <hr style="border: 1px solid red;">

        <!-- <a href="{% url 'create-room' %}">Create-room</a> -->
    
        {% include 'base/component_feed.html' %}
    
    </div>



    <!-- Activity Column -->
    <div>
        <!-- inherit from activity_component.html -->
        {% include 'base/component_activity.html'%}
    </div>
</div>


{% endblock content %}