{% extends 'main.html' %}

{% block content %}


{% if page == 'login' %}
<div>
    <div class="card-group" id="logincard">
        <div class="card" style="text-align: center;">
            <div class="card-header">
              <h4>Login</h4>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="card-body">
                {% csrf_token %}
                <!-- <label for="username">Username: </label> -->
                <input id="loginusername" type="text" name="username" placeholder="Username">

                <!-- <label for="password">Password:</label> -->
                <input id="loginpassword" type="password" name="password" placeholder="Password">
                <small><input type="submit" value="Login" class="btn btn-success"></small>
                </div>

                <div class="card-footer">
                    <p>Haven't Signed Up yet?</p>
                    <a class="btn btn-warning text-white" href="{% url 'register' %}">Sign UP</a>
                </div>
            </form>
        </div>
    </div>

</div>

{% else %}
<div>
    <div class="card-group" id="logincard">
        <div class="card" style="text-align: center;">
            <div class="card-header">
              <h4>Sign Up</h4>
            </div>
        <div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
    
        <div class="form-group">
            <input class="form-control registerform" type="text" name="f_name" placeholder="Firstname" id="f_name">
        </div>
    
        <div class="form-group">
            <input class="form-control registerform" type="text" name="l_name" placeholder="LastName" id="l_name">
        </div>
    
        <div class="form-group">
            <input class="form-control registerform" type="text" name="u_name" placeholder="UserName" id="u_name">
        </div>
    
        <div class="form-group">
            <input type="email" class="form-control registerform" id="input_email" aria-describedby="emailHelp" type="email" name="email" placeholder=" Email">
        </div>
    
        <div class="form-group">
            <input type="password" name="pass1" placeholder="Password" class="form-control registerform">
        </div>
    
        <div class="form-group">
            <input type="password" name="pass2" placeholder="Re-enter Password" class="form-control registerform">
        </div>
    
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
    <div class="card-footer">
        <p>Alredy A User  !!!</p>
        <p><a class="btn btn-info" href="{% url 'login' %}">Login</a></p>
    </div>

</div>
{% endif %}


{% endblock content %}